FrequencyPlotter.xcodeproj/project.xcworkspace/xcuserdata/dmitriyelj.xcuserdatad/UserInterfaceState.xcuserstate
FrequencyPlotter.xcodeproj/xcuserdata/dmitriyelj.xcuserdatad/xcschemes/SpectrumGraph.xcscheme
